@import "tailwindcss";

:root {
  --background: hsla(213, 73%, 3%, 1);
  --foreground: #171717;
}

@layer base {
  body {
    @apply font-inter bg-background text-white text-base overflow-x-hidden
  }
}

@theme inline {
  --font-neue-montreal: var(--font-neue-montreal);
  --font-inter: var(--font-inter);

  --color-primary: hsla(214, 95%, 29%, 1);

  /* --color-background: hsla(213, 73%, 3%, 1); */
  --color-background: hsla(0, 0%, 1%, 1);
  --color-foreground: var(--foreground);

  --color-muted: hsla(0, 0%, 81%, 1);
  --color-muted-foreground: hsla(219, 6%, 57%, 1);

  --color-subtle: hsla(0, 0%, 84%, 1);
  --color-shadow: hsla(0, 0%, 15%, 1);

  --color-onyx: hsla(0, 0%, 9%, 1);

  --color-chip: hsla(0, 0%, 15%, 1);

  --color-card: hsla(210, 7%, 16%, 0.16);
  /* --color-nav: hsla(212, 76%, 3%, 1); */
  --color-nav: hsla(0, 0%, 1%, 1);

  --color-blue-gradient: linear-gradient(180deg, #FFF -18.13%, #03439A 42.01%);
  --color-secondary-gradient-stroke: linear-gradient(180deg, rgba(235, 229, 210, 0.50) -99.17%, rgba(104, 101, 90, 0.50) 100%);
  --color-secondary-gradient: linear-gradient(180deg, #F5F5F5 0%, #EBE5D2 100%);
}

@layer utilities {
  .blue-glow {
    border-radius: 100%;
    background: var(--color-blue-gradient);
    filter: blur(300px);
  }
  .shadow-text-gradient {
    background: var(--color-secondary-gradient-stroke);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .limit-width {
    max-width: 138rem;
  }
  .secondary-gradient {
    background: var(--color-secondary-gradient);
  }
  .circle-shadow {
    box-shadow: 0px 1.495px 13.182px 0px rgba(255, 255, 255, 0.70) inset;
  }
  .circle-shadow-faded {
    box-shadow: 0px -10px 11.18px -9px rgba(255, 255, 255, 0.70) inset;
  }
  .product-showcase-bg {
    background: linear-gradient(0deg, #171515 42.89%, #050405 94.64%, #050405 100.44%);  
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.plus {
  position: relative;
  background-color: var(--color-secondary-gradient-stroke);
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
}

.plus::before {
  content: '';
  position: absolute;
  height: 0.18rem;
  width: 1.4rem;
  background: var(--color-secondary-gradient-stroke);
  transition: all .5s ease;
}

.plus::after {
  content: '';
  position: absolute;
  transform: rotate(90deg);
  height: 0.18rem;
  width: 1.4rem;
  background: var(--color-secondary-gradient-stroke);
  transition: all .5s ease;
}

.faq-head-active .plus::after, .faq-head-active .plus::before {
  transform: rotate(360deg);
}